.env
/cache
/local
/config/nvim/.init.vim-rplugin~
/config/gocode/config.json
/config/fish/fishfile
/config/fish/functions
/config/fish/completions
/config/fish/conf.d
/config/fisherman
/config/fnm
/config/gtk-3.0
/config/gtk-2.0
/config/libfm
/config/pcmanfm
/config/Code
/config/fcitx
/config/mimeapps.list
/config/sakura
/config/xfce4
/config/Trolltech.conf
/config/chromium
